# Скопируйте в .env и подставьте свои значения: cp .env.example .env

# PostgreSQL
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_database_name
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Elasticsearch
ELASTICSEARCH_URL=http://elasticsearch:9200
ES_INDEX=your_index_name
